In [68]:
"""Переменные в Python: примеры объявления, типы, преобразования и именование."""

'Переменные в Python: примеры объявления, типы, преобразования и именование.'

"""Переменные в Питоне."""

In [69]:
# можно создать переменную, присвоив ей числовое значение
number_m1: int = 15

print(number_m1)

15

In [70]:
# кроме того, переменной можно задать строковое (текстовое) значение
str_m1: str = "Я программирую на Питоне"
print(str_m1)

Я программирую на Питоне

In [71]:
# в Питоне можно присвоить разные значения сразу нескольким переменным
str_a_m1: str = "Питон"
str_b_m1: str = "C++"
str_c_m1: str = "PHP"
print(str_a_m1, str_b_m1, str_c_m1)

Питон C++ PHP

In [72]:
# а также присвоить одно и то же значение нескольким переменным
str_x_m1 = str_y_m1 = str_z_m1 = "То же самое значение"
print(str_x_m1, str_y_m1, str_z_m1)

То же самое значение То же самое значение То же самое значение

In [73]:
# каждый элемент списка можно "распаковать" в переменные
my_list: list[str] = ["помидоры", "огурцы", "картофель"]
list_a_m1, list_b_m1, list_c_m1 = my_list
print(list_a_m1, list_b_m1, list_c_m1)

помидоры огурцы картофель

### Автоматическое определение типа данных

In [74]:
int_x_m1: int = 256
float_y_m1: float = 0.25
str_z_2_m1: str = "Просто текст"

### Как узнать тип переменной в Питоне

In [75]:
# узнаем тип переменных из предыдущего примера
print(type(int_x_m1), type(float_y_m1), type(str_z_2_m1))

<class 'int'> <class 'float'> <class 'str'>

### Присвоение и преобразование типа данных

Присвоение типа данных

In [76]:
number_x_m1 = str(25)  # число 25 превратится в строку
number_y_m1 = int(25)  # число 25 останется целочисленным значением
number_z_m1 = float(25)  # число 25 превратится в десятичную дробь

In [77]:
print(type(number_x_m1), type(number_y_m1), type(number_z_m1))

<class 'str'> <class 'int'> <class 'float'>

Изменение типа данных

In [78]:
# преобразуем строку, похожую на целое число, в целое число
print(type(int("25")))

<class 'int'>

In [79]:
# или строку, похожую на дробь, в настоящую десятичную дробь
print(type(float("2.5")))

<class 'float'>

In [80]:
# преобразуем дробь в целочисленное значение
# обратите внимание, что округления в большую сторону не происходит
print(int(36.6))
print(type(int(36.6)))

36
<class 'int'>

In [81]:
# конечно, и целое число, и дробь можно преобразовать в строку
print(type(str(25)))
print(type(str(36.6)))

<class 'str'>
<class 'str'>

### Именование переменных

Допустимые имена переменных

In [82]:
# variable = "Просто переменная"
# _variable = "Просто переменная"
# variable_ = "Просто переменная"
# my_variable = "Просто переменная"
# My_variable_123 = "Просто переменная"

Имя переменной состоит из нескольких слов

In [83]:
# можно применить так называемый верблюжий регистр, camelCase
# все слова кроме первого начинаются с заглавной буквы и пишутся слитно
# camelCaseVariable = "Верблюжий регистр"

# нотацию Паскаль, PascalCase (то же самое, только тепер все слова пишутся с заглавной)
# PascalCaseVariable = "Нотация Паскаль"

# змеиный стиль, snake_case (с нижними подчеркиваниями)
# snake_case_variable = "Змеиная нотация"

Недопустимые названия переменной

In [84]:
# my-variable = 'Так делать нельзя'
# 123variable = 'Так делать нельзя'
# my variable = 'Так делать нельзя'

### Ответы на вопросы

**Вопрос**. Как можно преобразовать список чисел таким образом, чтобы каждый элемент списка превратился в отдельную строку?

In [85]:
# возьмем простой список
list_m1: list[int] = [1, 2, 3]

In [86]:
# использовать только функцию str() нельзя
str(list_m1)

'[1, 2, 3]'

In [87]:
# вариант 1: объявить новый список и в цикле for помещать туда строковые значения
list_str_m1: list[str] = []

for ch_m1 in list_m1:
    list_str_m1.append(str(ch_m1))

list_str_m1

['1', '2', '3']

In [88]:
# вариант 2: использовать list comprehension
list_lc_m1 = [str(item_m1) for item_m1 in list_m1]

In [89]:
# вариант 3: функции map() и list()
list(map(str, list_m1))

['1', '2', '3']